.chat {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;

}
.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    background: skyblue;
    overflow: auto;
    height: 490px;
}
.message {
    margin: 2px 16px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    align-self: flex-end;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.message.bot {
    /*background: aliceblue;*/
    background:  #dcf9fe ;
    align-self: flex-start;
}
.input {
    background: #fff;
    padding: 10px;
    outline: none;
    height: 15px;
}