@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

#leftFrame{
  width: 75%;
  overflow: auto;
  float: left
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.list-group {
  padding-left: 76% !important;
}
.chat {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction:column;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid black;
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transition: all  0.75s;
  transition: all 0.75s;
}
.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
  background: #fcf4f4 ;
  overflow: auto;
  height: 400px;
}
.message {/*user*/
  margin: 2px 16px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  align-self: flex-end;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.message.bot {
  /*background: aliceblue;*/
  background:  #ffcccc ;
  align-self: flex-start;
}
.button {
  background: #e00;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  border: 1px;
  border-color: #EFF8FE;
  margin: 2px 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  align-self: flex-start;
  font-weight: bold;
  color: white;
}
.button:active {
  background: white;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  border: 1px;
  border-color: #eee;
  margin: 2px 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0);
  align-self: flex-start;
  font-weight: bold;
  color: #4CA3ED;
}
.chathead {
  background: #f00;
  padding: 10px;
  outline: none;
  width: 100%;
  font-family: monospace;
  clear: both;
  border: 1px solid black;
  display: inline-block;
  color: white;
}
.chatheading {
  /*  z-index: 1;
    border: 1px solid green;
    margin-right: auto;
    display: inline-block;
  */  float: left;
  display: inline-block;
  width: 90%;
}
.close {
  float: left;
  display: inline-block;
  z-index: 1.1;
  /*  position: absolute;
    display: inline-block;
    z-index: 1;
    border: 1px solid blue;
    margin-left: auto;
  */}
.botbutton {
  z-index: 0.9;
  padding: 10px 25px 10px 25px;
  border: 5px solid white;
  width: 10%;
  height: 5%;
  font-size: 125%;
  background-color: #ff1a1a;
  border-radius: 10px;
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
  overflow: hidden;
  color: white;
}
.input {
  background: #fff;
  padding: 10px;
  outline: none;
height: 15px;
}
